/* Style for user.html */

body,
html {
    background-position: center;
    background-size: cover;
    scroll-behavior: smooth;
}

.heading {
    color: blue;
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
    width: 100%;
    margin-top: -5px;
    cursor: default;
}

.options_nav {
    width: 250px;
    height: 625px;
    border: 2px solid blue;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.options_nav button {
    width: 150px;
    height: 50px;
    color: blue;
    border-radius: 20px;
}

.options_nav button:hover {
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 139, 255);
    border-radius: 20px;
}

.logout {
    width: 150px;
    height: 50px;
    color: rgb(255, 0, 0);
    border-radius: 20px;
}

.logout:hover {
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 15, 15);
    border-radius: 20px;
}

.profile {
    width: 350px;
    height: 650px;
    border: 2px solid blue;
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -625px;
    float: right;
}

.left-display {
    text-align: left;
}

.user_img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.chat-lists {
    width: 50%;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -625px;
    margin-left: -50px;
}

#output {
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.input_div_message_page {
    position: fixed;
    bottom: 0;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    background: rgba(226, 226, 226, 0.781);
}

.input_div_message_page label {
    color: black;
}

.input_div_message_page #msg {
    width: 80%;
    border-radius: 30px;
}

.input_div_message_page img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: -50px;
    margin-left: 400px
}

.color_white {
    color: white
}

.user_tick {
    width: 20px;
}

.message_h4 {
    padding-left: 5px;
    color: grey;
}

.heart {
    color: red;
}

.heart:hover {
    color: red;
}